<!DOCTYPE html>
<html lang="ja">
  <%- include(folderPath + '/assets/include/_head'); %>
  <body id="index">
    <div class="l-container">
      <%- include(folderPath + '/assets/include/_header'); %><!-- /#header -->
      <%- include(folderPath + '/assets/include/_gnavi'); %><!-- /#gnavi -->
      <%- include(folderPath + '/assets/include/_breadcrumbs'); %>
      <!-- /#breadcrumbs -->

      <div class="l-conts">
        <main class="l-main">
          <div class="c-content">
            <div class="c-headline-level1">
              見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            </div>

            <div class="c-headline-level2">
              メイン見出し見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            </div>

            <div class="c-headline-level3">
              メイン見出し見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト見出しサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            </div>
          </div>
        </main>
        <!-- /#conts -->

        <%- include(folderPath + '/assets/include/_subconts'); %>
      </div>
      <!-- /#main -->

      <%- include(folderPath + '/assets/include/_footer'); %>
    </div>
    <!-- /#l-container -->
    <script src="/assets/script/bundle.min.js"></script>
  </body>
</html>
